@charset "UTF-8";

body{
    max-width: 400px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkblue;
    background-attachment: fixed;
}
.foca{
    padding-left: 90px;
    padding-top: 130px;
}
img{
    border-radius: 50%;
    text-align: center;
}
h1{
    text-align: center;
    color: white;
}