@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div.container {
    display: flex;
    background-color: salmon;
    flex-direction: row;
    flex-wrap: wrap;
}

div.item {
    flex: auto;
    background-color: aqua;
    border: 1px solid black;
    height: 100px;
}
