body{
    font-family: 'work-sans', Arial, Helvetica, sans-serif;
    /*
    Medidas absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas

    em, ex, rem, vw, vh, %
    */
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
/* lighter normal bold bolder */
}
h1{
    font-family: 'Work-Sans', Sans-Serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
    /*pode se usar apenas font: e vários outros shorthands*/
    h2{
        font: bold 2em 'Work-Sans'
    }
}