@charset "UTF-8";

* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.direita {
    display: flex;
    gap: 20px;
    padding: 15px;
}

div#categoriasitens {
    display: flex;
    gap: 30px;
    text-align: center;
    padding: 20px;
    font-size: small;
}

div.item img{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgba(211, 211, 211, 0.391);
    text-align: center;
    border-radius: 8px;
    margin-left: 6px;
}

section#tarefas {

}

div.tarefasitem {
    background-color: rgba(211, 211, 211, 0.391);
    width: 400px;
    height: 70px;
    border-radius: 8px;
}

#newtask {
    margin-top: 20px;
    background-color: blue;
    text-align: center;
    height: 50px;
    width: 400px;
    border-radius: 8px;
    color: white;
    border: none;
}