@charset "UTF-8";

@media screen and (max-width:768px) {
    body {
        background-color: black;
        color: white;
    }

    h1 {
        text-align: center;
        margin-top: -34px;
    }

    i {
        margin-top: 20px;
        display: flex;
    }
    input::placeholder{
        color: rgb(74, 70, 70);
        font-weight: bold;
    }
    #ibusca {
        margin: 0 auto;
        display: flex;
        width: 99%;
        border-radius: 5px;
        height: 40px;
    }

    #buguer {
        display: flex;
        margin-top: 30px;
    }

    i#burguer{
    display: block;
    color: white;
    cursor: pointer;
}

i#burguer:hover{
    color: aqua;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
    margin-left: -80px;
    width: 200px;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

}