@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}
.titulo1{
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    font-size: 40px;
}
.menu{
    color: black;
    display: flex;
    background-color: gainsboro;
    padding-top: 10px;
    border-radius: 10px;
    margin-bottom: 3px;
    box-shadow: 0px 0px 4px 0px black;
}
.menu a{
    text-decoration: none;
    color: black;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 15px;
}
.menu a:hover{
    background-color: black;
    color: white;
    transition: 0.1s;
    box-shadow: 1px 1px 1px 8px black;
    border-radius: 3px;
}
header{
    text-align: center;
    padding: 150px;
    background-image: url(pexels-francesco-ungaro-1531961.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header h1{
    font-size: 50px;
    color: white;
}
header h2{
    font-size: large;
    color: white;
}
#botao1{
    margin-top: 15px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    background-color: blue;
    font-weight: bolder;
    border-radius: 4px;
    border: transparent;
}
#botao1 a{
    color: white;
    text-decoration: none;
}
#botao2 a{
    color: black;
    text-decoration: none;
}
#botao2{
    margin-top: 15px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    color: black;
    font-weight: bolder;
    border-radius: 4px;
    border: transparent;
}
#servicos{
    background-image: linear-gradient(white);
    color: black;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
#servicos img{
    width: 100px;
    padding: 5px;
}
#servicos h1{
    text-align: center;
    padding-bottom: 40px;
}
#servicos h2{
    padding-bottom: 15px;
}
.div1{
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 6px 2px gray;
    margin: 10px;
}
.div2{
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 6px 2px gray;
    margin: 10px;
}
.div3{
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 6px 2px gray;
    margin: 10px;
}
main{
    padding: 70px;
    background-color: gainsboro;
}
main img{
    width: 400px;
}
main p{
    line-height: 30px;
}
footer{
    background-image: linear-gradient(rgb(63, 63, 237));
    color: white;
    text-align: center;
    height: 200px;
    padding-top: 100px;
}
footer button{
    font-weight: bolder;
    border-radius: 4px;
    border: transparent;
    margin-top: 15px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    color: blue;
}
footer a{
    text-decoration: none;
    color: black;
}
footer p{
    text-align: center;
}
.f2{
    background-image: linear-gradient(black);
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 30px;
}
.f2 a{
    text-decoration: none;
    color: gray;
}
.f2 a:hover{
    text-decoration: underline;
}
