@charset "UTF-8";
 body{
    background-color: rgb(218, 246, 218);
 }
 h1{
    color: green;
 }
 h2{
    color: rgb(8, 75, 8);
 }
 #principal {
    text-align: center;
    background-color: green;
    color: white;
 }
 .basico{
    color: green;
    font-weight: bold;
 }
 .intermediario{
    color: yellow;
 }
 .avancado{
    color: red;
 }
.destaque{
    background-color: yellow;