@charset "UTF-8"
* {
     font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #8C1F28, #044040);
    background-attachment:fixed ;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px pink;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:black;
    text-align: center;
    text-shadow: 1px 1px 0px #08fefe;
}
h2{
    color: #D92525;
}
p{
  text-align: justify;
}