@charset "UTF-8";

/*
Cores:

#8C7223
#F2B138
#594916 
*/

*{
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1180px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    div.conv {
         margin: 0 auto;
         padding-top: 100px;
    }

    div.conv img {
    width: 100%;
    display: flex;
    margin: 0 auto;
}
}

@media screen and (max-width: 992px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    main h1{
        font-width: 100px;
    }

    main p {
        padding-bottom: 100px;
    }

    div.conv {
         margin: 0 auto;
         padding-top: 100px;
    }

    div.conv img {
    width: 100%;
    display: flex;
    margin: 0 auto;
}
}

@media screen and (max-width: 768px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    div.conv {
         margin: 0 auto;
         padding-top: 100px;
    }

        div.conv img {
        display: flex;
        margin: 0 auto;
    }

    main p{
        padding-bottom: 200px;
    }

    div.conteiner img{
        width: 100px;
        height: 100px;
    }

    #i2 img {
        margin-left: -40px;
    }

    }

main {
    height: 900px;
    height: 100%;
    background-color: #F2B138;
    color: white;
}

main h1 {
    text-align: center;
    font-size: 4em;
    padding-top: 50px;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main p {
    text-align: center;
    color: #594916;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    padding-bottom: 50px;
}

#cereja {
    display: flex;
    padding-top: 30px;
}

#cereja img {
    display: block;
    margin: 0 auto;
    width: 104px;
    height: 56px;
}

nav {
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color: #594916;
    display: flex;
    margin: 0 auto;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: #927929;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-right: 30px;
}

div.conv {
    margin: 0 auto;
    margin-top: -230px;
}

div.conv img{
    width: 100%;
    display: flex;
    margin: 0 auto;
}

#p2 {
    font-weight: bold;
    font-size: 1.6em;
}

div.conteiner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

div.conteiner img{
    width: 158px;
    height: 161px;
}

div.item {
    align-items: center;
    text-align: center;
}

#i1 {
    height: 600px;
}

#i1 h1{
    margin-top: -60px;
    font-size: 2.3em;
}

#i1 p{
    margin-top: -30px;
    text-align: center;
}

#i2 {
    align-self: flex-end;
}

#i2 img {
    width: 200px;
    height: 270px;
}

#i3 {
    height: 600px;
}

#i3 h1{
    margin-top: -60px;
    font-size: 2.3em;
}

#i3 p{
    margin-top: -30px;
}

main button {
    width: 120px;
    height: 40px;
    background-color: #948224;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 80px;
}

section.contato {
    height: 700px;
    background-color: #948224;
    color: white;
    text-align: center;
    margin: 0 auto;
}

section.contato img{
    width: 100px;
    height: 70px;
    padding-top: 60px;
}

section.contato #p1{
    padding-top: 10px;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 70px;
}

.contatenos h1 {
    padding-top: 60px;
    padding-bottom: 10px;
}

.contatenos p{
    font-size: 1em;
}

hr {
    width: 600px;
    margin: 0 auto;
}

form {
    margin: 0 auto;
    padding: 20px;
}

form input {
    padding: 10px;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    width: 133px;
    margin: 20px;
}

input::placeholder {
    color: #594916;
}

textarea::placeholder {
    color: #594916;
}

form textarea{
    height: 50px;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

footer {
    background-color: #594916;
    color: white;
}

footer p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}