body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}
.img1{
    width: auto;
    height: auto;
    box-shadow: white 1px 1px 7px 7px;
    border-radius: 6px 6px 6px 6px;
    margin-left: 28%;
}
img{
   width: 20px;
   height: 20px;
}