@charset "UTF-8";

:root{
    --fundo-principal: #FFF5F7;
    --fundo-secundario: #FDECEF;

    --primario-botoes: #E97A9A;
    --primario-hover: #D95B82;

    --titulo: #2D2D2D;
    --texto: #555555;

    --borda: #F4D7DF;

    --footer: #D96B8D;
    --white: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo-principal);
}

nav {
    height: 75px;
    background-color: var(--fundo-secundario);
}

nav h1 {
    font-size: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 28px;
}

nav a {
    text-decoration: none;
    color: var(--titulo);
}

nav a:hover {
    color: white;
    background-color: var(--primario-hover);
    padding: 23.5px;
    border-radius: 8px;
    transition: 0.6s;
}

#botao {
    border: none;
    background-color: var(--primario-hover);
    border-radius: 8px;
    margin-top: -17.7px;
    height: 55px;
    color: white;
    font-weight: bold;
}

#botao a {
    color: white;
}

#botao2 {
    border: none;
}

#botao2 a{
    text-decoration: none;
    color: var(--titulo);
    font-weight: bold;
}
